@using WebInterfaces.ViewModels

@model List<WebLecturerViewModel>

@{
    ViewBag.Title = "Преподавательский состав";
}

<h2 class="page-header">Преподавательский состав</h2>

<table class="table">    

   @foreach (var lecturer in Model)
    {        
        <tr id="list" class="lecturer-element" data-id="@lecturer.Id">    
            <td>
                @if (lecturer.Photo != null && lecturer.Photo.Length > 0)
                {
                    <img src="data:image/png;base64,@(Convert.ToBase64String(lecturer.Photo))" width="50"  alt="@lecturer.FullName" />
                }
                else
                {
                    <img src="~/Images/default-lecturer.png" width="50" alt="@lecturer.FullName">
                }
            </td>
            <td class="lecturer-element-line">
               @string.Format("{0} {1} {2} {3} {4} {5}", lecturer.LastName, lecturer.FirstName, lecturer.Patronymic, lecturer.Post, lecturer.Rank2, lecturer.LecturerPost)
            </td>    
        </tr>
    }
</table>