@model List<DepartmentWeb.Models.MenuElementModel>

@foreach (var item in Model)
{
    <div id="menu" >
        <p></p>
        <ul>
            <li><a href="~/Home/Index" style="background:none"> <img src="~/Images/logo_1_1.png" width="50" height="50" alt="Главная"></a></li>
            <li style="color:white; margin: 8px">
                @Html.ActionLink(item.Name, item.Action, item.Controller)
                <ul @*style="overflow-y:scroll;max-height:100%"*@>
                    @foreach (var tmp in item.Child)
                    {
                        <li>@Html.ActionLink(tmp.Name, tmp.Action, tmp.Controller, new { id = tmp.Id }, null)</li>
                    }
                </ul>
            </li>
            
                <li style="float:right"><a href="http://www.ulstu.ru" style="background:none"> <img src="~/Images/Ulstu.png" width="80" height="50" alt="УлГТУ"></a></li>
            
        </ul>
    </div>
    }

