@model List<DepartmentWeb.Models.MenuElementModel>

@foreach (var item in Model)
{
    <div id="menu">
        <p></p>
        <ul>
            <li style="color:white">
                @item.Name                
                <ul @*style="overflow-y:scroll;max-height:100%"*@>
                    @foreach (var tmp in item.Child)
                    {
                        <li>@Html.ActionLink(tmp.Name, tmp.Action, tmp.Controller, new { id = tmp.Id },  null)</li>
                    }
                </ul>
            </li>
            </ul>
    </div>
    }

