@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Кафедра "Информационные системы"</h1>

        <p class="lead">
        Кафедра основана в 1997 году на факультете Информационных систем и технологий<br>

        Адрес кафедры: 432027, г. Ульяновск, ул. Северный Венец, 32, 3 учебный корпус, ауд.422<br>
        Телефон кафедры: (8422) 77-80-79<br>
        Адрес электронной почты: jng@ulstu.ru<br>

        Заведующий кафедрой - д.т.н., профессор Ярушкина Надежда Глебовна<br>
        
        </p>
</div>