
@{
    ViewBag.Title = "DisContent";
}

<h2>DisContent</h2>
<div class="btn btn-default">
    @Html.ActionLink("Загрузить файлы", "LoadFile", null, new { @style = "color: #333333 !important ; text-decoration: none !important ;" })
</div>
