
@{
    ViewBag.Title = "LoadFile";
}

<h2>LoadFile</h2>

<h3>Выберите файл для загрузки</h3>


    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploads" /><br>
        <input type="file" name="uploads" /><br>
        <input type="file" name="uploads" /><br>
        <input type="submit" value="Загрузить" />
    }

