@model List<WebInterfaces.ViewModels.WebProcessFileForDownloadViewModel>
@{
    ViewBag.Title = "LoadFile";
}

<h3>Выберите папку назначения</h3>

<p></p>
<h3>Выберите файлы для загрузки</h3>
@using (Html.BeginForm("LoadFile", "Discipline", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.DropDownList("direction", new SelectList(Model, "Path", "Name"))
    <input id="File1" multiple="multiple" name="File1" type="file" />
    <input id="btnUpload" type="submit" value="Отправить" />
}

