body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 1000px;
}

.menuMarginLeft {
    margin: 5px 5px 0 5px;
}

.logo {
    display: inline-block;
    margin: 15px;
}

.menu {
    vertical-align: middle;
    display: inline-block;
}

.sub-menu-item {
    padding: 5px 0px 0px 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.ulstu {
    float: right;
    margin: 15px;
}

.login {
    float: right;
    margin: 25px 10px 15px 10px;
}

    .login a {
        display: block;
        width: 100px;
        padding: 5px;
        background-color: whitesmoke;
        border-radius: 5px;
        text-align: center;
    }

.logout {
    display: block;
    width: 100px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.page-header {
    padding-top: 5px;
}

.lecturer-element {
    cursor: pointer;
}

.lecturer-element-line:hover {
    text-decoration: underline;
}

.text-lecturer {
    color: #222222;
    font-size: 20px;
}

    .text-lecturer label {
        font-weight: bold;
    }

.text-lecturer-discipline {
    margin-top: 30px;
    text-align: center;
}

.text-lecturer-items {
    margin: 0 0 0 10px;
}

    .text-lecturer-items li {
        margin-left: 15px;
    }

.education-wrapper {
    width: 100%;
}

.education-panel-heading {
    padding: 10px;
    border: 0;
    background: none;
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

    .education-panel-heading a:before {
        font-family: "Glyphicons Halflings";
        content: "\e080";
        float: right;
        transition: all 0.5s;
    }

    .education-panel-heading.active a:before {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.education-panel-body {
    padding: 15px;
}

.education-panel-title > a,
.education-panel-title > a:active {
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.education-title:hover {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.education-panel-table {
    border-top: 1px solid #eeeeee;
}

.education-courses {
    margin-top: 15px;
    width: 100%;
}

    .education-courses th {
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .education-courses .selected {
        background-color: #bfbfbf;
    }

.course-table {
    margin-top: 15px;
}

    .course-table th {
        text-align: center;
    }

    .course-table tr td {
        font-weight: bold;
    }

.course-table-tab td a {
    padding: 15px 15px 15px 35px;
    font-size: 18px;
    font-weight: normal;
}


/*-----дисциплины-----------------------------------*/
.discipline-wrapper {
    width: 100%;
}

.discipline-panel-heading {
    padding: 10px;
    border: 0;
    background: none;
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

    .discipline-panel-heading a:before {
        font-family: "Glyphicons Halflings";
        content: "\e080";
        float: right;
        transition: all 0.5s;
    }

    .discipline-panel-heading.active a:before {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.discipline-panel-title > a,
.discipline-panel-title > a:active {
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.discipline-panel-body {
    padding: 15px;
}

.discipline-file-warning {
    padding: 15px 5px 5px 15px;
    color: red;
}

.discipline-lecturer {
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
}

    .discipline-lecturer ul {
        padding-left: 40px;
    }

        .discipline-lecturer ul li {
            font-size: 16px;
        }

.discipline-lecturer-title {
    font-size: 16px;
}

/*----------------------------------------------------*/

/*--------новости------------------------------------*/
.create-news {
    display:block;
    padding-left: 30px;
}
/*---------------------------------------------------*/