@{
    ViewBag.Title = "Главная";
}


    <div class="jumbotron">
        @*<h1>Кафедра "Информационные системы"</h1>*@

        <div style="margin:5px; min-height:270px;">
            <img src="~/Images/yng.jpg" align="left" style="max-width:100% " />

            <p align="right">
                Кафедра основана в 1997 году на факультете Информационных систем и технологий<br>

                Адрес кафедры: 432027, г. Ульяновск, ул. Северный Венец, 32, 3 учебный корпус, ауд.422<br>
                Телефон кафедры: (8422) 77-80-79<br>
                Адрес электронной почты: <a href="mailto:jng@ulstu.ru"> jng@ulstu.ru</a>
            </p>
        </div>
        <div style="margin:5px">
            <p align="left">
                Заведующий кафедрой - д.т.н., профессор Ярушкина Надежда Глебовна<br>
        </div>

        <p class="lead">
            Кафедра осуществляет подготовку по следующим направлениям:<br>

            //это должно выводиться запросом<br>
            направление 09.03.03 «Прикладная информатика»  (профиль «Прикладная информатика в экономике»).<br>
            Квалификация - бакалавр;<br>
            направление 09.03.04 «Программная инженерия».<br>
            Квалификация – бакалавр.<br>
            направление 09.04.04 «Программная инженерия».<br>
            Квалификация – магистр.<br>
            направление 09.04.03 «Прикладная информатика».<br>
            Квалификация – магистр.<br>

            При кафедре работает аспирантура по специальностям:<br>
            05.13.12 - Системы автоматизации проектирования,<br>
            05.13.18 - Математическое моделирование, численные методы и комплексы программ,<br>
            08.00.05 - Экономика и управление народным хозяйством.<br>
        </p>
    </div>