@model List<LearningProgressInterfaces.ViewModels.LearningProcessDisciplineViewModel>
@if(Model.Count!=0) {
    <p class="text-lec">Преподаваемые дисциплины:</p>
}
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.DisciplineName, "DisContent", "Discipline", new { id = item.Id }, null)</li>
        }
    </ul>


