@model List<LearningProgressInterfaces.ViewModels.LearningProcessDisciplineViewModel>

    @foreach(var item in Model)
    {
        <li>@Html.ActionLink(item.DisciplineName, "DisContent", "Discipline", new { id = item.Id }, null)</li>
    }


